{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Employee List</title>
    <link rel="stylesheet" href="{% static 'Emp.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <!-- Updated Top Section -->
        <div class="top-header">
            <div class="left-buttons">
                <span class="welcome-msg">Welcome, {{ request.user.username }}</span>
                <a href="{% url 'class_emp_form' %}">
                    <button class="logout-btn">Create New Employee</button>
                </a>
            </div>
            <div class="right-buttons">
                <a href="{% url 'logout' %}">
                    <button class="create-btn">Logout</button>
                </a>
            </div>
        </div>

        <h2>Employee List</h2>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Manager</th>
                    <th>Mobile Number</th>
                    <th>Salary</th>
                    <th>Joining Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in employees %}
                <tr>
                    <td>{{ emp.id }}</td>
                    <td>{{ emp.name }}</td>
                    <td>{{ emp.email }}</td>
                    <td>{{ emp.location }}</td>
                    <td>{{ emp.position }}</td>
                    <td>{{ emp.department.department_name }}</td>
                    <td>{{ emp.department.manager_Name }}</td>
                    <td>{{ emp.mobile_number }}</td>
                    <td>{{ emp.salary }}</td>
                    <td>{{ emp.joining_date }}</td>
                    <td>
                        <a href="{% url 'employee-update-form' %}?id={{ emp.id }}">
                            <button type="submit" class="update-btn">Update</button>
                        </a>
                        <a href="{% url 'deleteEmployee' %}?id={{ emp.id }}">
                            <button type="submit" class="delete-btn">Delete</button>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11" style="text-align:center;">No employees found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
