{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" value="{{ form.username.value|default_if_none:'' }}"><br />
            {% if form.username.errors %}
                <span style="color:red">{{ form.username.errors.0 }}</span>
            {% endif %}

            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password"><br />
            {% if form.password.errors %}
                <span style="color:red">{{ form.password.errors.0 }}</span>
            {% endif %}

            {% if form.non_field_errors %}
                <div style="color:red">{{ form.non_field_errors.0 }}</div>
            {% endif %}

            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>
